@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{box-sizing: border-box;}
:root{
	--newBlack:#121212;
	--newGray:#595959;
	--newYellow:#fff12e;
	--newBlue:#59fcff;
}
head{
	font-size:15px;
}
body{
	font-family:courier;
	margin:0;
	background:url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.heady{
	background-color:var(--newBlack);
	color:white;
	border-top:var(--newBlack) solid 0.3rem;
	border-bottom:var(--newBlack) solid 0.3rem;
	font-family: 'Reggae One', cursive;
	border-bottom-left-radius:5rem;
	border-bottom-right-radius:5rem;
	position:relative;
	transition:all 0.5s;
}
.heady:hover{
	transition:all 0.7s;
	opacity:50%;
	color:var(--newYellow);
}
.heady>h1{
	padding-left:3rem;
}
.menu{
	background-color:var(--newGray);
	position:absolute;
	border-top-right-radius:1rem;
	border-bottom-right-radius:1rem;
	padding:0.3rem;
	opacity:50%;
	margin-top:1rem;
	transition:all 0.5s;
}
.menu:hover{
	opacity:90%;
	border-top-right-radius:2rem;
	border-bottom-right-radius:2rem;
	transition:all 0.5s;
}
#menu1{
	color:white;
	text-decoration:none;
	font-size:1.2rem;
}
#menu2{
	color:white;
	text-decoration:none;
	font-size:1.2rem;
}
#menu1:hover{
	color:var(--newBlue);
}
#menu2:hover{
	color:var(--newBlue);
}
#under1{
	opacity:0%;
	color:var(--newYellow);
}
#under2{
	opacity:0%;
	color:var(--newYellow);
}
#menu1:hover + #under1{
	opacity:100%;
}
#menu2:hover + #under2{
	opacity:100%;
}
.main-menu{
	list-style:none;
	display: inline-block;
	padding-right:2rem;
	float:left;
}
.main{
	color:white;
	margin-top:0.5rem;
	margin-bottom:0;
	margin-left:auto;
	margin-right:0;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,0.8468429608171394) 0%, rgba(0,212,255,1) 100%);
	width:47rem;
	height:31rem;
	border-bottom-left-radius:0.2rem;
	border-top-left-radius:0.2rem;
	opacity:80%;
	transition:all 1s;
}
.control{
	padding-left:1rem;
	padding-top:1rem;
}
.output1{
	background-color:var(--newBlack);
	opacity:50%;
	max-width:30rem;
	border-top-right-radius:1rem;
	border-top:0.2rem white solid;
}
.output2{
	background-color:var(--newBlack);
	opacity:70%;
	max-width:30rem;
}
.button1{
	border-radius:0.1rem;
	color:white;
	font-family:courier;
	background-color:var(--newBlue).9;
	outline:none;
	margin-bottom:0.5rem;
}
.button1:hover{
	opacity:70%;
	color:var(--newYellow);
}
.textBox{
	border-radius:0.2rem;
	outline:none;
	opacity:70%;
}
.output3{
	background-color:var(--newBlack);
	border-top:0.1rem dashed black;
	border-right:0.1rem dashed black;
	width:30rem;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	padding-left:0.7rem;
	border-bottom-right-radius:1rem;
}
.footy{
	margin-top:3rem;
	background-color:var(--newBlack);
	width:30rem;
	color:red;
	padding:1rem;
	display:none;
	border:0.1rem dashed red;
}
.main:hover{
	border-top-left-radius:0.7rem;
	border-bottom-left-radius:0.7rem;
	opacity:90%;
	transition:all 1s;
}
.tb:focus{
	color:white;
	background:black;
	transition:all 1s;
}
.tb{
	transition:all 0.2s;
}
